<div class="container">

  <div class="button-wrapper">
    <button class="btn btn-danger" [disabled]="selected.length === 0"
            (click)="onDelete()">Remove Selected {{selected?.length || 0}}</button>
  </div>

  <ngx-datatable class="material"
                 #myTable
                 [rows]="userList"
                 [columnMode]="'force'"
                 [headerHeight]="50"
                 [footerHeight]="50"
                 rowHeight="auto"
                 [limit]="5"
                 [loadingIndicator]="isLoading"
                 [selected]="selected"
                 [selectionType]="'checkbox'"
                 [selectAllRowsOnPage]="false"
                 (select)="onSelect($event)">

    <ngx-datatable-column [width]="30"
                          [sortable]="false"
                          [canAutoResize]="false"
                          [draggable]="false"
                          [resizeable]="false"
                          [headerCheckboxable]="true"
                          [checkboxable]="true">
    </ngx-datatable-column>
    <ngx-datatable-column name="Id">
      <ng-template let-data="row" ngx-datatable-cell-template>
        <div>
          <span>{{data.id}}</span>
        </div>
      </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column name="Firstname">
      <ng-template let-data="row" let-rowIndex="rowIndex" ngx-datatable-cell-template>
        <ng-template #editFirst>
          <input type="text"
                 name="firstname{{rowIndex}}"
                 [value]="data.firstname"
                 (change)="updateData($event, data, rowIndex, 'firstname')">
        </ng-template>
        <div (dblclick)="openEdit(rowIndex, 'firstname')" *ngIf="!editing[rowIndex + '-firstname']; else editFirst">
          <span>{{data.firstname}}</span>
        </div>
      </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column name="Lastname">
      <ng-template let-data="row" let-rowIndex="rowIndex" ngx-datatable-cell-template>
        <ng-template #editLast>
          <input type="text"
                 name="lastname{{rowIndex}}"
                 [value]="data.lastname"
                 (change)="updateData($event, data, rowIndex, 'lastname')">
        </ng-template>
        <div (dblclick)="openEdit(rowIndex, 'lastname')" *ngIf="!editing[rowIndex + '-lastname']; else editLast">
          <span>{{data.lastname}}</span>
        </div>
      </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column name="Age">
      <ng-template let-data="row"  let-rowIndex="rowIndex"  ngx-datatable-cell-template>
        <div>
          <span>{{data.birthdate | timeToAge}} years old</span>
        </div>
      </ng-template>
    </ngx-datatable-column>


    <!-------------------    PAGINATION    ------------------->

    <ngx-datatable-footer>
      <ng-template ngx-datatable-footer-template
                   let-rowCount="rowCount"
                   let-pageSize="pageSize"
                   let-selectedCount="selectedCount"
                   let-curPage="curPage"
                   let-offset="offset">
        <datatable-pager [pagerLeftArrowIcon]="'datatable-icon-left'"
                         [pagerRightArrowIcon]="'datatable-icon-right'"
                         [pagerPreviousIcon]="'datatable-icon-prev'"
                         [pagerNextIcon]="'datatable-icon-skip'"
                         [page]="curPage"
                         [size]="pageSize"
                         [count]="rowCount"
                         [hidden]="!((rowCount / pageSize) > 0)"
                         (change)="myTable.onFooterPage($event)">
        </datatable-pager>
      </ng-template>
    </ngx-datatable-footer>

  </ngx-datatable>

  <div class="form-wrapper">
    <form [formGroup]="form" class="border p-2 mt-4 col-sm-5">

      <div class="row">
        <div class="form-group col-sm-10">
          <label>Firstname</label>
          <input type="text" formControlName="firstname" class="form-control">
        </div>
      </div>
      <div class="row">
        <div class="form-group col-sm-10">
          <label>Lastname</label>
          <input type="text" formControlName="lastname" class="form-control">
        </div>
      </div>


      <div class="row">
        <div class="form-group col-sm-10">
          <label>Date</label>
          <input
              placeholder="DD/MM/YYYY"
              type="text"
              [autoClose]="true"
              class="form-control"
              formControlName="birthdate"
              (click)="d.toggle()"
              ngbDatepicker
              #d="ngbDatepicker">
        </div>

      </div>


      <footer>
        <button type="button"  [disabled]="form.invalid" class="btn btn-success m-2" (click)="addToTable()">Save</button>
        <button type="button" class="btn btn-secondary" (click)="resetForm()">Cancel</button>
      </footer>
    </form>
  </div>



</div>
